<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Add Mount Plates Link -->
<link name="arch_link">
  <visual>
    <material name="clearpath_black"/>
    <geometry>
      <mesh filename="package://mtu32_description/meshes/sensor_arch.STL"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0 0.235 0.17" rpy="0 0 0"/>
    <geometry>
      <box size="0.17 0.05 0.145"/> #antenna box
    </geometry>
  </collision>
</link>

<!-- Add Mount Plates Joint -->
<joint name="arch_joint" type="fixed">
  <child link="arch_link"/>
  <parent link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Add Duro Base and E-Stop Button Link -->
<link name="estop_link">
  <visual>
    <material name="clearpath_yellow"/>
    <geometry>
      <mesh filename="package://mtu32_description/meshes/duro_estop.STL"/>
    </geometry>
 </visual>
  <collision>
    <origin xyz="0.32 0 0.4" rpy="0 0 0"/>
    <geometry>
      <box size="0.12 0.59 0.3"/> #main sensor arch box
    </geometry>
  </collision>
</link>

<!-- Add Duro Base and E-Stop Button Joint -->
<joint name="estop_joint" type="fixed">
  <child link="estop_link"/>
  <parent link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Add Duro Base and E-Stop Button Link -->
<link name="button_link">
  <visual>
    <material name="clearpath_red"/>
    <geometry>
      <mesh filename="package://mtu32_description/meshes/button.STL"/>
    </geometry>
 </visual>
  <collision>
    <origin xyz="0.2 0 0.31" rpy="0 0 0"/>
    <geometry>
      <box size="0.12 0.42 0.12"/> #cable protection box
    </geometry>
  </collision>
</link>

<!-- Add Duro Base and E-Stop Button Joint -->
<joint name="button_joint" type="fixed">
  <child link="button_link"/>
  <parent link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!-- Add Collision for Arm Ethernet Cable Link -->
<link name="eth_link">
  <collision>
    <origin xyz="-0.2 -0.1 0.29226" rpy="0 0 0"/>
    <geometry>
      <box size="0.1 0.1 0.1"/> #am ethernet connection protection box
    </geometry>
  </collision>
</link>

<!-- Add Arm Ethernet Cable Joint -->
<joint name="eth_joint" type="fixed">
  <child link="eth_link"/>
  <parent link="base_link"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

</robot>
